header {
    min-height: 100vh;
    position: relative;

    .nav-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;

        .logo{
            &:hover {
                scale: 1.05;
            }
        }

        .menu-list {
            display: flex;
            align-items: center;
            gap: 40px;
            font-weight: 700;

            .menu-btn {
                padding: 15px 60px;
                border-radius: 30px;
                background-color: #000;
                font-weight: 700;
                text-transform: uppercase;
                color: #fff;

                &:hover {
                    scale: 1.05;
                }
            }
        }
    }

    .hero-section{
        .title-pod {
            position: relative;
            z-index: -1;
        }

        .title-s {
            display: inline-block;
            transform: translateY(60px);
        }

        .title-m {
            display: inline-block;
            transform: translate(-57px, 280px);
        }

        .title-ax{
            display: inline-block;
            position: relative;
            transform: translate(-120px, 420px);
            z-index: -1;
        }

        .hero-imgs {
            padding-bottom: 50px;
            text-align: center;

            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: -10;
            }

            &:has(.blue.content-item-active)::before{
                background: linear-gradient(180deg, #CADBEB 0%, rgba(235, 235, 235, 0.00) 100%);
            }

            &:has(.red.content-item-active)::before{
                background: linear-gradient(180deg, #F3D6D1 0%, rgba(235, 235, 235, 0.00) 100%);
            }

            &:has(.green.content-item-active)::before{
                background: linear-gradient(180deg, #DDEAD9 0%, rgba(235, 235, 235, 0.00) 100%);
            }

            &:has(.white.content-item-active)::before{
                background: linear-gradient(180deg, #FAFAFA 0%, rgba(235, 235, 235, 0.00) 100%);
            }

            &:has(.black.content-item-active)::before{
                background: linear-gradient(180deg, #B6B6B6 0%, rgba(235, 235, 235, 0.00) 100%);
            }
        }
    }
}

@media (max-width: 1450px){
    header {
        .hero-section{
            .hero-imgs img {
                max-width: 100%;
            }
        }
    }

    .title {
        font-size: 180px;
        transform: translate(130px, 30px);
    }
}

@media (max-width: 1350px){
    .title{
        transform: none;
        font-size: 140px;
        padding-top: 20vh;
        left: 0;
        right: 0;
        text-align: center;
    }
    header {
        .hero-section{
            .title-s{
                transform: none;
                text-transform: lowercase;
            }

            .title-m{
                transform: none;
            }

            .title-ax{
                transform: none;
            }
        }
    }
}

@media (max-width: 870px){
    .title{
        position: relative;
        font-size: 70px;
        padding-top: 0;
    }

    header{
        .hero-section{
            .title-m{
                padding-left: 15px;
            }
        }

        .nav-section{
            .menu-list {
                display: none;
                flex-direction: column;
                width: 100%;
                z-index: 9;
            }
        }
    }

    .menu-icon {
        display: block;
    }
}

@media (max-width: 470px){
    .title{
        font-size: 40px;
    }

    header {
        min-height: 50vh;
    }
}