.choose-color{
    padding: 45px 0 180px;
    text-align: center;

    .color-title {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .color-text {
        max-width: 550px;
        margin: 0 auto 80px;
    }

    .color-list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;

        .choose-color-img {
            border: 1px solid grey;
            border-radius: 20px;
            padding: 50px 55px;
        }
    }
}

// composition 
.composition {
    margin-bottom: 180px;

    .composition-text {
        text-align: center;
        max-width: 650px;
        margin: 0 auto 40px;
    }

    .composition-inner{
        max-width: 650px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        
        .inner-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15px;

            p{
                width: 230px;
            }
        }
    }
}

// case 
.case {
    background-color: #fafafa;
    padding: 80px 0 100px;
    text-align: center;

    .case-text {
        max-width: 825px;
        margin: 0 auto 40px;

        span {
            font-weight: 700;
        }
    }

    .energy-title{
        padding-top: 160px;
        margin-bottom: 40px;
    }

    .energy-num {
        font-size: 210px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .energy-text {
        max-width: 400px;
        margin: 0 auto;
    }
}
